---
---
<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
<meta name='apple-mobile-web-app-status-bar-style' content='black' />
<meta name='apple-mobile-web-app-capable' content='yes' />
<link rel='shortcut icon' href='' type='image/x-icon' />
<title>{% if page.url != '/index.html' %}{{page.title}}{% endif %}</title>
<meta name="twitter:site" content="@hrwgc">
<meta property="og:site_name" content="Chris Herwig">
<meta name="twitter:url" content="{{site.baseurl}}/{{page.permalink}}">
<meta property="og:url" content="{{site.baseurl}}/{{page.permalink}}">
<meta name="twitter:title" content="{{page.title}}">
<meta property="og:title" content="{{pag.title}}">
<meta name="twitter:description" content="Follow Curiosity Rover's journey on Mars over the past year.">
<meta property="og:description" content="Follow Curiosity Rover's journey on Mars over the past year."> 
<meta name="twitter:image" content="http://i.imgur.com/NvHRRMq.jpg">
<meta property="og:image" content="http://i.imgur.com/NvHRRMq.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:type" content="website">

<link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700italic' rel='stylesheet' type='text/css'>
<link href='{{site.baseurl}}/fonts/stylesheet.css' rel='stylesheet'>
<script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
<script src='{{site.baseurl}}/site.js'></script>
<link href="{{site.baseurl}}/css/fresh.css" rel="stylesheet" />
<link href="{{site.baseurl}}/css/modal.css" rel="stylesheet" />
<link href="{{site.baseurl}}/css/rover.css" rel="stylesheet" />
</head>

<body class='rover'>
 <div class='black clearfix' id="header">
        <div class="col12">
          <div class="col9">
            <h1>{{page.title}}</h1>
        </div>
        <div class="col3">
          <a href='#' id='learn-more'>Learn more</a>
        </div>
    </div>
</div>


    <div id="pane">
        <div id="map"></div>
        <div id="pictures" class="black"></div>
    </div>

  <div id='modal'>
  <div class='popup'>
  <div class='header'>
    <div class='inner'>
      <h2>{{ page.title }}</h2>
      <a class='close' href='#close'>&times;</a>
    </div>
  </div>
  <div class='content prose pad1'>
{% if page.description != empty %}

<h2>Description</h2>
{{ page.description }}
{% endif %}

{% if page.content != empty %}
<h2>Methodology</h2>
{{ page.content | replace: '!SITE.GITHUB!', site.github  | markdownify }}
{% endif %}
{% if page.sources | size > 0 %}
<h2>About the Data</h2>

{% for source in page.sources %}
<div class='source-entry'>
<h4 class='data-title'> <a class='' href='{{source.url}}' target="_blank"> {{source.title}}</a></h4>
<p>{{source.description | markdownify}}</p>
   {% if source.csv | size > 0 %}
   <a class='action data csv' href='{{source.csv}}'><span class='csv'></span>CSV</a>
   {% endif %}
   {% if source.pdf | size > 0 %}
   <a class='action data pdf' href='{{source.pdf}}'><span class='pdf'></span>PDF</a>
   {% endif %}
    {% if source.url | size > 0 %}
   <a class='action data link' href='{{source.url}}'  target="_blank"><span class='link'></span>www</a>
   {% endif %}
</div>
{% endfor %}
{% endif %}

</div>
</div>
</div>
<script src="{{site.baseurl}}/js/jquery.scrollTo.min.js"></script>

{% if page.map != empty %}

<script>
$(function () {

  $('a#learn-more').bind('click', openModal);

  function openModal() {
    $('#overlay,#modal').fadeIn('fast');
    window.location.hash = 'learn-more'
    return false;
  }

  if (location.hash === '#learn-more') {
    openModal();
  }

  $('.close').click(function (e) {
    $('#overlay, #modal').fadeOut();
    window.location.hash = '';
    return false;
  });


{% endif %}
  $('#toggle').click(function(){
    $('.header').toggleClass('active-header', 20000 );
    $('#my-slider').toggle()
  })

{% if page.js %}
{% include rover.js %}
{% endif %}
})

</script>

</body>
</html>

